.patient-dashboard {
  background: #f2fdf7;
  min-height: 100vh;
}

.sidebar-wrapper {
  background: #ffffff;
  min-height: 100vh;
  border-right: 1px solid #e6e6e6;
}

.content-wrapper {
  min-height: 100vh;
}

/* Header */
.dashboard-header {
  background: linear-gradient(90deg, #2bb673, #20c997);
  padding: 22px 25px;
  border-radius: 18px;
  color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
}

/* Stat Cards */
.stat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 18px;
  color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.stat-icon {
  font-size: 40px;
  opacity: 0.9;
}
